assets/img/
origin/
dhnco/
development_tools/
image_working/
pdf/
backup/
*.[oa]
.vscode/
phperror.log
test.php
.DS_Store
*.log
*.apk
*.exe
*.dmg
*.zip
*.tgz
*.vib
*.img
*.msi
*.old
*.map
*.scss
_*
*~
